<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Vault.Server" value="VaultServer"/>
    <add key="Vault.User" value="VaultUser"/>
    <add key="Vault.Password" value="VaultPassword"/>
    <add key="Vault.Repo" value="VaultRepositoryName"/>
    <add key="Git.DomainName" value="DomainName"/>
    <add key="Convertor.WorkingFolder" value="Path/To/WorkingFolder"/>
    <add key="Convertor.GitCmd" value="C:\Program Files\Git\bin\git.exe"/>
    <add key="Convertor.Paths" value="$/Trunk~master;$/Branches/Branch1~branch1"/>
  </appSettings>
</configuration>
